*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
.heading{
  text-align: center;
  background-color: blueviolet;
  color: white;
  height:10vh;
  line-height: 10vh;
}
.forms{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  height:50vh;
  justify-content: space-evenly;
}
.forms>div:first-child,.display>div:first-child{
  font-size: larger;
  font-weight: bolder;
  color: blueviolet;
}
.forms>form{
  height:40vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
form>input{
  padding-left: 5px;
  font-size: large;
  width:250px;
  height:25px;
}
form>textarea{
  font-size: large;
  padding-left: 5px;
  width:250px;
  height:120px;
}
form>button{
  cursor: pointer;
  width:100px;
  height: 25px;
  font-weight: bold;
  color: white;
  background-color: blueviolet;
  outline: none;
  border: 1px solid black;
}
hr{
  margin-left: 20px;
  margin-right: 20px;
}
.display{
  margin: 5px 0 0 20px;
}
.notes{
  margin:15px 10px 0;
}
.title_btn{
  display: flex;
}
.title_btn>div{
  font-weight: bold;
}
.title_btn>button{
  cursor: pointer;
  width:20px;
  margin-left: 5px;
  outline: none;
  background-color: blueviolet;
  color: white;
  border: 1px solid black;
}
.description{
  margin-bottom: 5px;
}
